body {
  font-family: 'Platypi', serif;
  background: rgb(36, 38, 47);
  text-align: center;
  padding: 40px;
  color: beige;
  font-size: 2rem;
}

h1 {
  font-family: 'Rakkas', serif;
  color:paleturquoise;
  font-size: 3rem;
}

.swipe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  transform: translateY(-100%);
  background: linear-gradient(to bottom, rgb(36, 38, 47) 0%, rgb(36, 38, 47) 15%, rgb(36, 38, 47) 100%);
  animation: slideDown 2s ease forwards; /* slide down */
}

@keyframes slideDown {
  to { transform: translateY(100%); } /* move completely down off-screen */
}

/* reduced motion fallback */
@media (prefers-reduced-motion: reduce) {
  .swipe { display: none; }
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(118, 44, 118);
  color: rgb(255, 216, 216);
  font-size: 2rem;
  border-radius: 12px 0px 12px 0px;
  transition: transform 0.1s ease, background 0.2s ease;
}

.button:hover {
  background-color: #b100b1;
  transform: translateY(-2px);
  transform: scale(1.2); /* grow 20% */
}