body {
  font-family: 'Platypi', serif;
  background: darkslategray;
  text-align: center;
  padding: 40px;
  color: beige;
}

h1 {
  font-family: 'Rakkas', serif;
  color:darkmagenta;
  font-size: 3rem;
}