body {
  font-family: 'Platypi', serif;
  background: black;
  text-align: center;
  padding: 40px;
  color: beige;
}

h1 {
  font-family: 'Rakkas', serif;
  color:paleturquoise;
  font-size: 3rem;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(118, 44, 118);
  color: rgb(255, 216, 216);
  font-size: 2rem;
  border-radius: 12px 0px 12px 0px;
  transition: transform 0.1s ease, background 0.2s ease;
}

.button:hover {
  background-color: #b100b1;
  transform: translateY(-2px);
  transform: scale(1.2); /* grow 20% */
}