body {
  font-family: 'Platypi', serif;
  background: rgb(36, 38, 47);
  text-align: center;
  padding: 40px;
  color: beige;
  font-size: 2rem;
}

h1 {
  font-family: 'Rakkas', serif;
  color:paleturquoise;
  font-size: 3rem;
}

.swipe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 100%);  animation: slideDown 2s ease forwards; /* slide down */
  animation: slideDown 2s ease forwards;
}

@keyframes slideDown {
  to { transform: translateY(100%); } /* move completely down off-screen */
}

/* reduced motion fallback */
@media (prefers-reduced-motion: reduce) {
  .swipe { display: none; }
}

.button {
  display: inline-block;
  padding: 12px 24px;
  color: rgb(255, 216, 216);
  font-size: 2rem;
  border-radius: 12px 0px 12px 0px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s ease, background 0.2s ease;
}

.button:hover {
  transform: scale(1.2);
  transform: translateY(-120%);
}